.map{
    width:"600";
    height:"450"; 
    style:"border:0";
    allowfullscreen:"";
    loading:"lazy";
    referrerpolicy:"no-referrer-when-downgrade";
}

h4{
    /* color: red; */
    font-size: 20px;
}

.row{
    width: 100%;
}