.editor-image {
    width: 100px;
    height: 127px;
    object-fit: cover;
    align-items: center;
    /* mix-blend-mode:darken; */
    /* filter: invert (100%); */
    /* mix-blend-mode:multiply; */
    /* background-color: transparent; */

}

.main-editor{
    align-items: center;
    text-align: center;
    /* padding: 20px; */
    margin-top: -30px;
    margin-bottom: -30px;
}

.associate-editor{
    text-align: center;
    /* padding: 20px; */
}

.associate-editor img{
    /* margin-top: 20px; */
}

.managing-editor{
    text-align: center;
    justify-content: center;
    max-width: 400px;
    margin: auto;
    margin-top: -50px;
    margin-bottom: -30px;
}