.footer{
    background-color: rgb(179, 25, 25);
    /* padding: 40px; */
    margin-top: 100px;
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
    padding-bottom:  30px;
    padding-top: 1px;
}

h5{
    font-size: 16px;
    /* margin-top: 40px; */
}       